@model Janel.Web.Models.PersonViewModel
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
  ViewData["Title"] = "Person List";
  Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts {
<script>
  $(document).ready(function () {
    jQuery('[data-confirm]').click(function (e) {
      if (!confirm(jQuery(this).attr("data-confirm"))) {
        e.preventDefault();
      }
    });
  });
</script>
}

<h2>Index</h2>

<p>
  <a asp-action="Add">Create New</a>
</p>

<pager class="pager-container" options="@PagedList.Core.Mvc.PagedListRenderOptions.ClassicPlusFirstAndLast" list="@Model.PersonList" asp-action="Index" asp-controller="Person" asp-all-route-data='Context.Request.Query.Where(q => q.Key != "page").ToDictionary(q => q.Key, q => q.Value.ToString())' />
Page @(Model.PersonList.PageCount < Model.PersonList.PageNumber ? 0 : Model.PersonList.PageNumber) of @Model.PersonList.PageCount (@Model.PersonList.TotalItemCount)
<table class="table">
  <thead>
    <tr>
      <td>Name</td>
      <td>Email</td>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.PersonList) {
      <tr>
        <td>@Html.DisplayFor(modelItem => item.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.Email)</td>
        <td><a class="btn btn-default" asp-controller="Person" asp-action="Edit" asp-route-id="@item.Id">Edit</a> <a class="btn btn-default" asp-controller="Person" asp-action="Delete" data-confirm="are u sure?" asp-route-id="@item.Id">Delete</a> </td>
      </tr>
    }
  </tbody>
</table>
<pager class="pager-container" options="@PagedList.Core.Mvc.PagedListRenderOptions.ClassicPlusFirstAndLast" list="@Model.PersonList" asp-action="Index" asp-controller="Person" asp-all-route-data='Context.Request.Query.Where(q => q.Key != "page").ToDictionary(q => q.Key, q => q.Value.ToString())' />